.container {
  margin-top: 32px;
}

.headerContainer {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.questionProgress {
  color: var(--grey-navy);
  font-style: italic;
  font-size: 14px;
  margin-bottom: 16px;
}

.questionText {
  font-size: 20px;
  color: var(--dark-navy);
  line-height: 120%;
  font-weight: medium;
  margin-bottom: 24px;
}

.progressBar {
  background-color: white;
  height: 16px;
  border-radius: 50px;
  margin-bottom: 40px;
  position: relative;
  padding: 4px;
  box-sizing: border-box;
}

.progressBarInner {
  background-color: var(--purple);
  height: 100%;
  border-radius: 50px;
  transition: width 0.2s ease;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

.noAnswerAlert {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--red);
  visibility: hidden;
}

.noAnswer {
  visibility: visible;
}

.title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 16px;
}

.titleContainer {
  margin-bottom: 40px;
}

.titleContainer h1 {
  display: block;
}

.titleContainer span {
  display: block;
}

.title span {
  font-weight: 500;
}

:global(body.dark-mode) .titleContainer {
  color: var(--white);
}

:global(body.dark-mode) .questionText {
  color: var(--white);
}

.endQuizCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px;
  background-color: var(--white);
  margin-bottom: 12px;
  border-radius: 12px;
}

.endScore {
  font-size: 88px;
}

.endComponentContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .questionText {
    margin-bottom: 40px;
  }

  .questionProgress {
    font-size: 20px;
    line-height: 150%;
  }

  .progressBar {
    margin-bottom: 64px;
  }

  .headerContainer {
    min-height: 260px;
  }

  .endQuizCard {
    padding: 100px;
    margin-bottom: 32px;
  }

  .endScore {
    font-size: 140px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .questionText {
    font-size: 30px;
    line-height: 120%;
  }

  .headerContainer {
    margin-right: 200px;
    height: 452px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
  }

  .endComponentContainer {
    width: 100%;
    gap: 200px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* margin-top: 84px; */
  }

  .statsContainer {
    display: flex;
    flex-direction: column;
  }
}
