.button {
  padding: 12px;
  border: none;
  margin-bottom: 12px;
  border-radius: 12px;
  background: var(--white);
  font-size: 18px;
  color: var(--dark-navy);
  font-weight: medium;
  cursor: pointer;
  box-sizing: border-box;
  border: 3px solid transparent;
  min-height: 74px;
  transition: 0.1s ease;
}

.button:hover {
  opacity: 0.9;
}

.activeBtn {
  border: 3px solid var(--purple);
}

.correct {
  border: 3px solid var(--green);
}

.false {
  border: 3px solid var(--red);
}

:global(body.dark-mode) .button {
  background: var(--navy);
  color: var(--white);
}

.imgContainer {
  height: 40px;
  width: 40px;
  padding: 5px;
  display: flex;
  margin-right: 16px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--light-grey);
}

.button.correct .imgContainer {
  background-color: var(--green);
}

.button.false .imgContainer {
  background-color: var(--red);
}

:global(body.dark-mode) .imgContainer {
  color: var(--dark-navy);
}

.activeBtn .imgContainer {
  background-color: var(--purple);
}

.imgContainer:active {
  background-color: var(--purple);
}

@media only screen and (min-width: 768px) {
  .button {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .button {
    font-size: 28px;
    margin-bottom: 28px;
  }

  .imgContainer {
    height: 56px;
    width: 56px;
    margin-right: 32px;
  }
}
