.button {
  padding: 12px;
  border: none;
  margin-bottom: 12px;
  border-radius: 12px;
  background: var(--white);
  font-size: 18px;
  color: var(--dark-navy);
  font-weight: 500;
  cursor: pointer;
}

:global(body.dark-mode) .button {
  background: var(--navy);
  color: var(--white);
}

.imgContainer {
  height: 40px;
  width: 40px;
  padding: 5px;
  display: flex;
  margin-right: 16px;
  border-radius: 6px;
}

@media only screen and (min-width: 768px) {
  .button {
    margin-bottom: 24px;
  }
}

@media only screen and (min-width: 1200px) {
  .button {
    padding: 28px;
    font-size: 28px;
    margin-bottom: 28px;
  }

  .imgContainer {
    height: 56px;
    width: 56px;
    margin-right: 32px;
  }
}
