.title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 8px;
}

:global(body.dark-mode) .title {
  color: white;
}

.title span {
  font-weight: 500;
}

.subtitle {
  font-weight: 400;
  font-size: 14px;
  font-style: italic;
  color: var(--grey-navy);
}

:global(body.dark-mode) .subtitle {
  color: var(--blue);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
