.container {
  display: block;
  margin-top: 32px;
}

.title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 16px;
}

.titleContainer {
  margin-bottom: 40px;
}

.titleContainer h1 {
  display: block;
}

.titleContainer span {
  display: block;
}

.title span {
  font-weight: 500;
}

.subtitle {
  font-weight: 400;
  font-size: 12px;
  font-style: italic;
  color: var(--grey-navy);
}

:global(body.dark-mode) .titleContainer {
  color: var(--white);
}

:global(body.dark-mode) .subtitle {
  color: var(--blue);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 64px;
  }

  .titleContainer {
    margin-bottom: 64px;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 50%;
  }

  .title {
    font-size: 64px;
  }

  .titleContainer h1 {
    display: block;
  }

  .titleContainer span {
    display: block;
  }

  .subtitle {
    font-size: 20px;
  }
}
