.container {
  position: relative;
  background-color: var(--off-white);
  min-height: 100svh;
  overflow: hidden;
  background-image: url("./assets/pattern-background-mobile-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding-left: 24px;
  padding-right: 24px;
}
