.container {
  position: relative;
  background-color: var(--off-white);
  min-height: 100svh;
  overflow: hidden;
  background-image: url("./assets/pattern-background-mobile-light.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.bgImageContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100svh;
}

.bgImageContainer img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  min-height: 100%;
  object-fit: contain;
}
